.join{
    color:white;
    font-family:Roboto;
}
.second{
    display: flex;
    flex-direction: row;
    justify-items: center;
    padding: 20px;
    margin:20px;
    
    
}
.first-container{
    background-color: black;
    height: 30vh;
    width:40vh;
    padding: 20px;
    margin: 20px;
}
.head1{
    color: white;
    text-align: center;
    padding: 10px;
}
.para1{
    color:white;
    text-align: center;
    
    
}
.image {
    height: 60px;
    width: 60px;
    display: flex;
    margin-left: auto;
    align-self: flex-end;
    align-items: end;
}
.button-container{
    display: flex;
    flex-direction: column;
    justify-items: center;
    
    
}
.btn1{
    background-color:rgb(93, 89, 89);
    height: 10vh;
    width:200vh;
}
.head2{
    text-align: start;
    padding: 20px;
    margin: 20px;
}
.image2{
    height: 70px;
    width: 40px;
    display: flex;
    margin-left: auto;
    align-self: flex-end;
    align-items: end;
    

}